* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  color: #ececf1;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #212121;
  display: flex;
}
